.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    background-color: #101820FF;
    color: white;
  }
  
  .Post {
    width: 60rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
  }
  
  
  .divider {
    margin: 0 1rem;
  }
  .date {
    margin: 10px 0;
  }
  
  .details {
    display: flex;
    align-items: center;
  }
  .tags {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
  .tag {
    margin-right: 1rem;
    background-color: #F2AA4CFF;
    color: #101820FF;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    font-weight: 400;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
  }
  
  .description {
    margin: 0;
    font-size: 2rem;
  }
  .title {
    color: #F2AA4CFF;
    font-weight: 700;
    cursor: pointer;
    font-size: 30px;
  }
  